* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;       /* base is 400 for font */
    scroll-behavior: smooth;
    color: #212121;
}

h1 {
    /* ram: 1 rem is the default font is html which is about 16px - rem is more uniform */
    font-size: 3.5rem;
    line-height: 2rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0 1rem;
}

p {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
}

.in {
    text-indent: 35px;
}

ul {
    font-size: 1.25rem;
    padding-left: 5.5rem;
}

img {
    margin: 1rem 2rem;
    width: 500px;
}

.centerImgs {
    display: flex;
    justify-content: space-evenly;

}

.sydney {
    width: 400px;
    border: 10px solid #212121;
}

.leftPhoto {
    float: left;
}

.rightPhoto {
    float: right;
}

nav a {
    text-decoration: none;
    color: #212121;
    margin-bottom: 2rem;
}

a:hover, .fa-brands:hover { /* when you hover over something with a tag a then it will follow the code below */
    color: #e0e0e0;
}

.fa-brands {
    font-size: 1.75rem;
    margin: 0 10px 10px 10px;
    color: white;
}

strong {
    font-weight: bold;
}

.small {
    font-size: smaller;
}



/* navbar */
nav {;
    height: 64px;
    width: 100%;
    background-color: #69C8EB;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;   /*gets rid of bullet points*/
}

nav ul li {
    margin: 30px;
}

#title {
    font-size: 1.8rem;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    margin: 1rem;
}

.mainContent {
    padding-top: 6rem;
    min-height: 85vh;
}

/* footer section */

footer {
    height: 5rem;
    width: 100%;
    background-color: #69C8EB;
    color: white;
    padding-top: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}




/* about me*/
.lsts {
    list-style: square;
}


/*coding projects*/

.mockups {
    height: auto;
    border: none;
}

.project p {
    padding-bottom: 0;
}

.persistLst {
    display: inline-flex;
    padding: 2rem;
    margin: 0 2rem;
}

.persistLst > li {
    margin: 0 2rem;
}

.diagram {
    width: 95%;
    margin: 1rem 2.5rem;
    height: auto;
    align-content: center;
}

table {
    border: 5px solid #212121;
    width: 95%;
    border-collapse: collapse;
    margin: 1rem;

}

th {
    font-weight: bold;
    border: 1px solid #212121;
}
tr, td {
    border: 1px solid #212121;
}
tr, th {
    font-size: 1rem;
    padding: 0.5rem;
}
