:root {
    --blue: #69C8EB;
    --darkGrey: #212121;
    --veryLightGrey: #e0e0e0;
    --yellow: #F9DC5C;
    --cardColor: lightgray;
    --darkBlue: #1E6AE1;
}

* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
    color: var(--darkGrey);
}

html, body {
    height: 100%;
}

body > footer {
    position: sticky;
    top: 100vh;
}

body {
    display: flex;
    flex-flow: column;
    height: calc(100vh);
}

.mainContent {
    padding-top: 6rem;
    padding-bottom: 1rem;
    min-height: calc(90vh - 4.5rem);
    /*flex-grow: 1;*/
}

.navbar {
    flex-wrap: revert;
}

nav {;
    height: 5rem;
    width: 100%;
    background-color: var(--blue);
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    padding: 1rem;
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--darkGrey);
}

#logo {
    font-size: 1.8rem;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    margin: 1rem;
}

a:hover, .fa-brands:hover {
    color: var(--veryLightGrey);
}

.fa-brands {
    font-size: 1.75rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    color: white;
}

h1 {
    font-family: 'Red Hat Display', sans-serif;
    padding: 1rem 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
}

h3, h4, h5, h6 {
    padding: 0 1rem;
}


p {
    font-size: 1.25rem;
    padding: 0 2.5rem;
}

h1 + ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 + ul, p + ul {
    padding: 1rem 2.5rem 1rem 5rem;
}

p + ul + li{
    padding-bottom: 0;
}

ul {
    font-size: 1.25rem;
    list-style: square;
}

.in {
    text-indent: 2.25rem;
}

table {
    border: 0.25rem solid var(--darkGrey);
    width: 95%;
    margin: 1rem auto;
}

.ttTable th {
    font-weight: bold;
    border: 0.1rem solid var(--darkGrey);
    padding: 0.5rem;
}

.ttTable tr, .ttTable td {
    border: 0.1rem solid var(--darkGrey);
}

.ttTable td > .ttTable ul{
    font-size: 0.95rem;
    margin: 0.25rem;
    padding-left: 2rem;
}

.ttTable td {
    padding: 0.25rem;
}

.btn,.btn-secondary, .btn-secondary:focus, .btn-check:focus+.btn-secondary {
    background-color: var(--darkBlue);
    border-color: var(--darkBlue);
}

.btn-secondary:hover {
    background-color: #0a58ca;
}

.accordion-item {
    border: none;
}

.accordion-button {
    background-color: var(--veryLightGrey);
}

footer {
    height: 4.5rem;
    background-color: var(--blue);
    padding-top: 1.5rem;
    text-align: center;
}






/*images*/
img {
    margin: 1.5rem;
    width: 28rem;
}

/*figcaption {*/
/*    margin-right: 2.5rem;*/
/*}*/

.centerImgs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.thinBorder > img{
    border: 0.1rem solid var(--darkGrey);
    border-radius: 0.25rem;
}

.goldThinBorder {
    border: 0.1rem solid darkgoldenrod;
    border-radius: 0.25rem;
    margin: 1rem;
}

.thon {
    width: 25rem;
}

.mockups {
    height: auto;
    border: none;
}

.diagram {
    width: 95%;
    margin: 1rem 2.5rem;
}

.leftPhoto {
    float: left;
}

.rightPhoto {
    float: right;
}







/*lists*/

.lsts {
    padding-top: 0;
    padding-left: 8rem;
    display: flex;
    flex-wrap: wrap;
}

.lsts > li {
    padding-right: 2rem;
    width: 20vw;
}

.skills {
    justify-content: space-around;
    padding-right: 0;
    padding-left: 1rem;
}

.skills > li {
    width: revert;
}

.projectList > li {
    list-style: none;
}

.projectList > li > h2 {
    padding-left: 0;
}

.projectList > li > ul > li{
    list-style-type: none;
    text-indent: -1.25rem;
}

.persistLst {
    display: inline-flex;
    margin: 0 2rem;
    flex-wrap: wrap;
}

.persistLst > ul {
    justify-content: space-between;
}

.persistLst > li > ul > li,  .persistLst > li > ul > li > ul > li {
    font-size: 1rem;
}

.persistLst > li {
    margin: 2rem;
}

.card, .list-group-item {
    background-color: var(--cardColor);
}

.card {
    width: 20rem;
    height: 18rem;
    justify-content: space-between;
    margin: 1rem 0;
}

.cardBtn {
    padding: 0 1rem 1rem;
}

.info {
    flex-grow: 1;
}

.cardFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.numbered {
    text-align: center;
}






.date {
    float: right;
}
.resume {
    margin-right: 2rem;
    margin-left: 2rem;
}
.resume h2 {
    font-weight: normal;
    padding-top: 0.5rem;
}
.resume div {
    padding-bottom: 2rem;
}
.resume p.date {
    padding-right: 0;
}

.resume p {
    margin-bottom: 0;
}

div.experience div {
    padding: 0;
}









/*@media (min-width: 701px) {*/
/*    */
/*}*/

/*@media (max-width: 700px) {*/
/*    */
/*}*/

/*@media (max-width: 450px) {*/
/*    */
/*}*/