:root {
    --blue: #69C8EB;
    --darkGrey: #212121;
    --veryLightGrey: #e0e0e0;
    --yellow: #F9DC5C;
    --darkBlue: #306BAC;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;       /* base is 400 for font */
    scroll-behavior: smooth;
    color: var(--darkGrey);
}

h1 {
    /* ram: 1 rem is the default font is html which is about 16px - rem is more uniform */
    font-size: 3.5rem;
    /*line-height: 2rem;*/
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    padding: 1rem 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 2rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0 1rem;
}

p {
    font-size: 1.25rem;
    padding: 1rem 2.5rem;
}

.in {
    text-indent: 35px;
}

h1 + ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h2 ~ ul {
    padding: 1rem 2.5rem 1rem 3rem;
    box-sizing: border-box;

}

ul {
    font-size: 1.25rem;
    padding-left: 2.5rem;
}

img {
    margin: 1rem 2rem;
    width: 450px;
}

.centerImgs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.thinBorder > img{
    border: 1px solid var(--darkGrey);
    border-radius: 5px;
}

.sydney {
    width: 400px;
    border: 10px solid var(--darkGrey);
}

.leftPhoto {
    float: left;
}

.rightPhoto {
    float: right;
}

nav a {
    text-decoration: none;
    color: var(--darkGrey);
    margin-bottom: 2rem;
}

a:hover, .fa-brands:hover { /* when you hover over something with a tag a then it will follow the code below */
    color: var(--veryLightGrey);
}

.fa-brands {
    font-size: 1.75rem;
    margin: 0 10px 10px 10px;
    color: white;
}

strong {
    font-weight: bold;
}

.small {
    font-size: smaller;
}



/* navbar */
nav {;
    height: 5rem;
    width: 100%;
    background-color: var(--blue);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-sizing: border-box;
}

nav ul {
    display: flex;
    list-style: none;   /*gets rid of bullet points*/
    margin: 2rem;
}

nav ul li {
    padding: 1rem;
    margin: 1rem;
}

#title {
    font-size: 1.8rem;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
    margin: 1rem;
}

.mainContent {
    padding-top: 6rem;
    min-height: 90vh;
}

/* footer section */

footer {
    height: 5rem;
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding-top: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    box-sizing: border-box;
}

.flexWrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    box-sizing: border-box;
}

#progExp {
    list-style: square;
}

.projectList > li {
    list-style: none;
}


/* about me*/
.lsts {
    list-style: square;
    padding-top: 0;
}

.projectList > li > h2{
    padding-left: 0;
}

/*.projectList {*/
/*    padding-left: 5rem;*/
/*}*/


.mockups {
    height: auto;
    border: none;
}

.project p {
    padding-bottom: 0;
}
.projectList > li > ul > li{
    list-style-type: none;
    text-indent: -20px;
}

.persistLst {
    display: inline-flex;
    padding: 0;
    margin: 0 2rem;
    flex-wrap: wrap;
}

.persistLst > ul {
    justify-content: space-between;
}

.persistLst > li > ul > li,  .persistLst > li > ul > li > ul > li {
    font-size: 1rem;
}

.persistLst > li {
    margin: 2rem;
}

.diagram {
    width: 95%;
    margin: 1rem 2.5rem;
    height: auto;
    align-content: center;
}

table {
    border: 0.25rem solid var(--darkGrey);
    width: 95%;
    border-collapse: collapse;
    margin: 1rem auto;
}

th {
    font-weight: bold;
    border: 1px solid var(--darkGrey);
    font-size: 1rem;
    padding: 0.5rem;
}
tr, td {
    border: 1px solid var(--darkGrey);
    width: auto;
    height: auto;
}
td > ul{
    font-size: 0.95rem;
    margin: 0.25rem;
    padding-left: 2rem;
}
